.timesheet-container {
    padding: 20px;
  }
  
  body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-y: auto; /* Enables vertical scrolling */
    height: 100vh; /* Full viewport height */
  }

  h1{
    padding: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  .upload-button {
    margin-right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #45a049;
  }
  

