/* Container styling for the whole form */
.employee-setup-container {
    width: 85%;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 20px;
    padding-top: 50px;
    box-sizing: border-box;
  }
  
  /* Stepper styling */
  .employee-setup-stepper {
    margin-bottom: 20px;
  }
  
  /* Form section styling */
  .employee-setup-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 40px;
  }
  
  /* Text field styling */
  .employee-setup-form .MuiTextField-root {
    width: 100%;
  }
  
  /* Button container styling */
  .employee-setup-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Back and Next buttons styling */
  .employee-setup-button-container .MuiButton-root {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .employee-setup-button-container .MuiButton-contained {
    background-color: #1976d2; /* Primary color */
    color: #fff;
  }
  
  .employee-setup-button-container .MuiButton-contained:hover {
    background-color: #155a9f; /* Darker primary color on hover */
  }
  
  .employee-setup-button-container .MuiButton-text {
    color: #1976d2; /* Primary color for back button */
  }
  
  /* Additional spacing for date picker components */
  .employee-setup-date-picker .MuiFormControl-root {
    width: 100%;
  }
  
  /* Customize the active step label */
  .MuiStepLabel-label.Mui-active {
    font-weight: bold;
    color: #1976d2; /* Primary color */
  }
  